page-messages-list {
  .content-md {
    background-image: url("./../assets/icon/printed-bg.png");
    background-color: rgba(249, 241, 237, 0.48) !important;
  }
  .title{
    color: #c53743;
  }
  .no-color ion-item{
    background-color: transparent !important;
  }
  .time-label{
    color: rgba(0, 0, 0, 0.5);
  }
  .bold-text{
    font-weight: 600 !important;
  }
}
