page-provider-profile-settings {
  .content-md {
    background-image: url("./../assets/icon/printed-bg.png");
    background-color: rgba(249, 241, 237, 0.48) !important;
  }
  .label-info{
    font-weight: 600;
    margin-left: 15px !important;
    color: inherit !important;
    white-space: normal;
    overflow: visible;
  }
  .provider-info-heading{
    font-size: 1.5em;
    color: #c53743;
  }
  .item-md .item-button {
    height: 43px;
  }
  .item-detail{
    margin: -10px !important;
  }
  .profile-pic{
    margin-bottom: 12px;
    max-height: 250px;
  }
  .card-md {
    background: rgba(255, 255, 255, 0.51) !important;
  }
  .genderSelect{
    padding: 0;
    color: black !important;
    overflow: visible !important;
  }
  .no-color ion-item{
    background-color: transparent !important;
  }
  .other-locations{
    margin-top: 20px !important;
  }
  .whiteSpace{
    white-space: normal !important;
  }
  .profile-img{
    height: 380px; 
  }
}
