page-client-profile {
  .content-md {
    background-image: url("./../assets/icon/printed-bg.png");
    background-color: rgba(249, 241, 237, 0.48) !important;
  }
  .label-info{
    font-weight: 600;
    margin-left: 30px;
    color: inherit !important;
  }
  .provider-info-heading{
    font-size: 1.5em;
    color: #c53743;
  }
  .item-md .item-button {
    height: 43px;
  }
  .item-detail{
    margin: -10px !important;
  }
  .card-md {
    background: rgba(255, 255, 255, 0.51) !important;
  }
  .genderSelect{
    padding: 0;
    color: black !important;
    overflow: visible !important;
  }
  .no-color ion-item{
    background-color: transparent !important;
  }
}
