<ion-header>

  <ion-navbar color="pink">
    <ion-title>Finalize Service</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-item>
      <h2 class="provider-info-heading">John Peter</h2>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Current Time</ion-label>
      <ion-label>8:00 pm 14 Feb 2018</ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info whiteSpace"> Please help other service providers by rating this client.</ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Rate Client</ion-label>
      <ion-label>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label floating>Comments on client</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>

    <ion-item>
      <button ion-button color="pink" outline block>Submit Client Rating</button>
    </ion-item>

  </ion-card>
</ion-content>
