page-my-appointments {
  .content-md {
    background-image: url("./../assets/icon/printed-bg.png");
    background-color: rgba(249, 241, 237, 0.48) !important;
  }
  .time-label {
    font-weight: 600;
  }
  .title{
    color: #c53743;
  }
  .no-color ion-item{
    background-color: transparent !important;
  }
  .arrow-icon{
    font-size: 2.2em;
  }
}
