<ion-header>

  <ion-navbar color="pink">
    <button *ngIf="userObj.enableAppointmentMenu" ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>My Appointments</ion-title>
  </ion-navbar>


</ion-header>

<ion-content>
  <ion-list class="no-color">
    <ion-item *ngIf="this.userObj.profileStatus && this.userObj.profileStatus === 'new' && this.userObj.role === 'provider'">
      <h2>Please setup your profile in Accounts Settings.</h2>
    </ion-item>
    <ion-item *ngFor="let appointmentObj of myAppointments" (click)="gotoAppointmentDetails(appointmentObj)">

      <h2 class="title">{{ getTitleAppointment(appointmentObj) }}</h2>
      <p>
        <label class="time-label">Time : </label>
        {{ appointmentObj.dateTime }}
      </p>
      <p>
        <label class="time-label">Location : </label>
        {{ appointmentObj.location }}
      </p>
      <button ion-button clear item-right color="pink">
        <ion-icon name="ios-arrow-forward" class="arrow-icon"></ion-icon>
      </button>
    </ion-item>

    <ion-item *ngIf="!myAppointments.length && !(this.userObj.profileStatus && this.userObj.profileStatus === 'new')">
      <h2>You don't have any appointment yet.</h2>
    </ion-item>
  </ion-list>
</ion-content>
