<ion-header>
  <ion-navbar color="pink">
    <ion-title>Appointment Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-item (click)="contactProvider()">
      <ion-avatar item-left>
        <img [src]='userObj.imageUrl || "assets/icon/provider-person.jpg"'>
      </ion-avatar>
      <h2>{{appointmentObj.providerName}}</h2>
    </ion-item>

    <ion-item>
      <h2 class="provider-info-heading">Service Details</h2>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Service Time</ion-label>
      <ion-label>{{appointmentObj.dateTime}}</ion-label>
      
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Service</ion-label>
      <ion-label>{{appointmentObj.serviceDetail}}</ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Service Price</ion-label>
      <ion-label>{{appointmentObj.serviceCharges}}</ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <label class="label-info">Service Address</label>
      <label class="address">{{appointmentObj.location}}</label>
    </ion-item>

    <ion-item class="item-detail">
      <label class="label-info">Booking Status</label>
      <label class="address">{{appointmentObj.isBooked? "Paid" : "Not Paid"}}</label>
    </ion-item>

    <ion-item *ngIf="appointmentObj.isBooked==false && userService.getUserDetails().role == 'client'">
      <input ion-button color="pink" outline block type="submit" value="Service Payment" (click)="bookingForm()">          
    </ion-item>

    <ion-item *ngIf="appointmentObj.isBooked==true && appointmentObj.serviceTaken==false && userService.getUserDetails().role == 'client'">
      <input ion-button color="pink" outline block type="submit" value="Close Appointment" (click)="closeAppointment()">          
    </ion-item>

    <ion-item *ngIf="appointmentObj.isBooked==true && appointmentObj.serviceTaken==true">
       <label class="label-info">Your appointment is closed!</label>
    </ion-item>

    <ion-item>
      <button ion-button color="pink" outline block (click)="contactProvider(appointmentObj)">Send Message</button>
    </ion-item>

  </ion-card>
</ion-content>
