<ion-header>

  <ion-navbar color="pink">
    <ion-title>Provider Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>

    <ion-item>
      <ion-avatar item-left>
        <img src="assets/icon/provider-person.jpg">
      </ion-avatar>
      <h2>Marty McFly</h2>
    </ion-item>

    <img src="assets/icon/provider-person.jpg">

    <ion-item>
      <h2 class="provider-info-heading">Provider Info</h2>
    </ion-item>
<h2> test </h2>
    <ion-item class="item-detail">
      <ion-label class="label-info">Gender</ion-label>
      <ion-label>Female</ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Average Rate</ion-label>
      <ion-label>$40</ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Location</ion-label>
      <ion-label>South Perth</ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Description</ion-label>
      <ion-label>Some desc</ion-label>
    </ion-item>


    <ion-item>
      <h2 class="provider-info-heading">Service Details</h2>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Availability</ion-label>
      <ion-label>Office/Home</ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Thai Massage</ion-label>
      <ion-label>1hr for $40</ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Sports Massage</ion-label>
      <ion-label>1hr for $55</ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Experience</ion-label>
      <ion-label>More than 5 years</ion-label>
    </ion-item>

    <ion-item>
      <button ion-button color="primary" outline block (click)="messageProvider()">Message Me</button>
      <button ion-button color="pink" outline block (click)="bookReservation()">Hire Me</button>
    </ion-item>

  </ion-card>
</ion-content>
