page-reserve-massage {
  .label-info{
    font-weight: 600;
    margin-left: 30px;
    color: inherit !important;
  }
  .provider-info-heading{
    font-size: 1.5em;
    color: #c53743;
  }
  .item-md .item-button {
    height: 43px;
  }
  .item-detail{
    margin: -10px !important;
  }
  .card-md {
    background: rgba(255, 255, 255, 0.51) !important;
  }
  .dateTimeValue{
    padding: 0;
    color: black !important;
  }
  .address{
    white-space: normal;
    float: right;
    width: 118px !important;
    display: block;
  }
}
