<ion-header>

  <ion-navbar color="pink">
    <ion-title>Book Reservation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>

    <ion-item>
      <ion-avatar item-left>
        <img src="assets/icon/provider-person.jpg">
      </ion-avatar>
      <h2>Marty McFly</h2>
    </ion-item>

    <ion-item>
      <h2 class="provider-info-heading">Service Details</h2>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Service Time</ion-label>
      <ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts" class="dateTimeValue"></ion-datetime>
      </ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Service</ion-label>
      <ion-label>1hr full body Thai Massage</ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <ion-label class="label-info">Service Price</ion-label>
      <ion-label>$50</ion-label>
    </ion-item>

    <ion-item class="item-detail">
      <label class="label-info">Service Address</label>
      <label class="address">Client location 123 Main street, North Perth WA 6000</label>
    </ion-item>

    <ion-item>
      <button ion-button color="primary" outline block (click)="messageProvider()">Message Me</button>
      <button ion-button color="pink" outline block (click)="confirmBooking()">Confirm Booking</button>
    </ion-item>

  </ion-card>
</ion-content>
