<ion-header>

  <ion-navbar color="pink">
    <ion-title>Payment Reservation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form id="checkout">
          <div id="payment-form"></div>
          <ion-item >
            <ion-label stacked class="label-info" floating>Amount</ion-label>
            <ion-input type="text" [(ngModel)]="appointmentObj.serviceCharges" name="amount" disabled="true"></ion-input>
          </ion-item>
          <input ion-button color="pink" [disabled]="!showFormFields" outline block type="submit" value="Pay">
        </form>

</ion-content>
