<ion-content>
  <div no-padding>
    <img  src="assets/icon/login-cover-crop.png" class="title" id="coverImg" />
  </div>

  <ion-list >

    <ion-item padding>
      <ion-label fixed> <img src="assets/icon/person-icon.png"/> </ion-label>
      <ion-input type="text" value="" placeholder="Full Name" class="color-pink" [(ngModel)]="newUserObj.fullName"></ion-input>
    </ion-item>

    <ion-item padding>
      <ion-label fixed> <img src="assets/icon/person-icon.png"/> </ion-label>
      <ion-input type="text" value="" placeholder="Email" class="color-pink" [(ngModel)]="newUserObj.email"></ion-input>
    </ion-item>

    <ion-item padding>
      <ion-label fixed> <img src="assets/icon/lock-icon.png"/> </ion-label>
      <ion-input type="password" placeholder="Password" class="color-pink" [(ngModel)]="newUserObj.password"></ion-input>
    </ion-item>

    <ion-item padding>
      <ion-label fixed> <img src="assets/icon/lock-icon.png"/> </ion-label>
      <ion-input type="password" placeholder="Confirm Password" class="color-pink" [(ngModel)]="newUserObj.confirmPassword"></ion-input>
    </ion-item>

    <ion-item class="item-detail" padding>
      <ion-label fixed class="label-info" >Select Role</ion-label>
      <ion-label>
        <ion-select  class="genderSelect" [(ngModel)]="newUserObj.role">
          <ion-option value="provider" selected="true">Provider</ion-option>
          <ion-option value="client">Client</ion-option>
        </ion-select>
      </ion-label>
    </ion-item>

    <div class="sign-up-container">
      <button ion-button block round (click)="createUser()" [disabled]="!enableSignup()" class="sign-up">SIGN UP</button>
    </div>

 </ion-list>
</ion-content>
