page-menu {
  .content-md {
    background-image: url("./../assets/icon/printed-bg.png");
    background-color: rgba(249, 241, 237, 0.48) !important;
  }
  .item-md{
    background-color: transparent !important;
  }
  .color button{
    color: #b15961;
  }
}
